html {
	background-color: white;
	font-size: 100%;
	text-align: center;
}

table {
	background-color: #f1bcbc;
	border-color: #c03d3d;
	border-style: solid;
	border-width: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}



input[type="button"] {
	padding: 0.5em;
}

.mainbutton {
	width: 50px;
}

input:not(.mainbutton):not([type="text"]) 
{
	width: 50px;
}
